@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black-color: #04040c;
  --white-color: #ffffff;
  --button-text-color: #47a9c0;
  --roboto-font: "Roboto Condensed", sans-serif;
  --oswald-font: "Oswald", sans-serif;
  --primary-black-color: #222222;
  --border-color: #235c6a;
  --light-black: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
.align-items-center {
  align-items: center;
}
.bottom {
  bottom: 0;
} 
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.grid {
  display: grid;
}
.horizontal-line {
  width: 59px;
  height: 4px;
  background-color: var(--button-text-color);
  border: none;
  margin-top: 10px;
}
.horizontal-line-small {
  width: 23px;
  height: 1px;
  background-color: var(--button-text-color);
  border: none;
  margin-top: 10px;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between{
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.list-style {
  list-style: none;
}
.height {
  height: 100vh;
}
.height-percentage {
  height: 100%;
}
.margin-auto-left-right {
  margin: 0 auto;
}
.margin-auto-top-bottom{
  margin: auto 0;
}
.margin-left-section3{
  margin-left: 30px;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.place-content-center {
  place-content: center;
}
.align-conter {
  align-content: center;
}
.text-decoration a {
  text-decoration: none;
}
.text-transform {
  text-transform: uppercase;
}
.text-align {
  text-align: center;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
.width {
  width: 50%;
}

/*  */
.btn-outline-primary {
  background-color: var(--white-color);
  border: none;
  color: var(--button-text-color);
}
.bordercircle-footer{
  width: 39px;
  height: 39px;
  background-color: var(--black-color);
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.btn-outline-black {
  background-color: var(--black-color);
  border: none;
  color: var(--button-text-color);
}
.button-hover:hover{
  background-color: var(--button-text-color);
  color: var(--white-color);
  transition: 0.5s;
  box-shadow: 0px 16px 30px 0px rgba(71, 169, 192, 0.4);
}
.btn-margin-left{
  margin-left: 50px;
}
.banner-content1{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--white-color);
}
.banner-content2{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--button-text-color);
}
.banner-content3{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--white-color);
}
.btn-margin-top{
  margin-top: 30px;
}
.borderbox-section3{
  width: 1440px;
  height: 566px;
  background-color: rgba(71, 169, 192, 0.06);
  border-radius: 20px;
}
.border-smallfooter{
  width: 100%;
  height: 60px;
  background-color: #47A9C0;
}
.border-nav{
  width: 50px;
  height: 50px;
  border: 1px solid #47A9C0;
  border-radius: 50%;
  background-color: var(--white-color);
}
.background-image-section7{
  width: 1440px;
  height: 436px;
  background: url("/skycode/Image/image-121-663897eb0012a.webp");
  background-repeat: no-repeat;
  margin: 0px auto;
  background-position: 0% 55%;
  border-radius: 20px;
}
.backgroundcolor-section7{
  width: 1440px;
  height: 436px;
  background-color: rgba(35, 92, 106, 0.862);
  border-radius: 20px;
}
.background-image-merge {
  margin-left: 50px;
  top: -60px;
}
.background-image-merge2 {
  top: -20px;
  left: -20px;
}
.border-section2{
  width: 1181px;
  height: 160px;
  background-color: #235C6A;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.borders-section2{
  width: 105px;
  height: 105px;
  background-color: rgba(71, 169, 192, 0.1);
  border-radius: 50%;
}
.border-banner{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0px 4px 10px 0px rgba(71, 169, 192, 0.2);
}
.border-banner-circle{
  bottom: -35px;
  left: 915px;
}
.company-logo-info{
  margin-top: 15px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.color-primary{
  color: var(--button-text-color);
}
.circle-section3{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
}
.footer-content{
  font-family: var(--oswald-font);
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--white-color);
}
.footer-content1 a{
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--roboto-font);
  font-size: 1.1rem;
}
.footer-margin-top{
  margin-top: 18px;
}
.footer-margin-top-2{
  margin-top: 30px;
}
.footer-content1 li{
  margin-top: 18px;
}
.footer-margin-left{
  margin-left: 220px;
}
.footer-padding-left{
  padding-left: 15px;
}
.footer-content2{
  font-family:  var(--roboto-font);
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--white-color);
}
.footer-content3{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--white-color);
  line-height: 26px;
  margin-top: 5px;
}
.footer-content4{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--white-color);
  line-height: 26px;
}
.footer-content5{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--white-color);
}
.footer-content6{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--white-color);
}
.font-weight-footer{
  font-weight: 700;
}
.footer-padding-inline{
  padding-inline-start: 200px;
  padding-inline-end: 200px;
}
.info{
  padding-left: 10px;
}
.info1{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--black-color);
}
.info2{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 5px;
}

.line-horizontal{
  width: 272px;
  border: 1px solid #47A9C0;
  margin-left: 10px;
}
.testimonals-container{
  position: relative;
}
.margin-top-lineheight-wordspacing{
  margin-top: 5px;
  line-height: 35px;
  word-spacing: 6px;
}
.margin-top-section{
  margin-top: 150px;
}
.margin-top-section7{
  margin-block-start: 160px;
  margin-block-end: 160px;
}
.margin-top{
  margin-top: 40px;
}
.marign-top-footer{
  margin-top: 100px;
}
.margin-left-app{
  margin-left: 20px;
}
.margin-top-app{
  margin-top: 20px;
}
.margin-inline-navbar{
  margin-inline-start: 150px;
}
.mySwipers-section9{
  padding-inline-start: 18px;
  padding-inline-end: 22px;
  margin-top: 30px;
}
.mySwiper-section2{
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
.margin-top-section2{
  margin-block-start: 100px;
  margin-block-end: 200px;
}
.margin-top-section4{
  /* margin-top: 150px; */
}
.nav{
  background-color: var(--black-color);
  padding: 10px 0px 10px 0px;
}
.nav-btn-options{
  height: 50px;
  width: 50px;
  border: 1px solid rgba(71, 169, 192, 1);
  border-radius: 50%;
  background-color: var(--white-color);
  margin: 30px;
}
.navoptions a{
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.1rem;
  font-family: var(--roboto-font);
  margin-left: 50px;
}
.navbuton-margintop{
  margin-top: 200px;
}
.hover-color a:hover{
  color: var(--button-text-color);
  transition: 0.2s;
}
.section1-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--black-color);
}
.secion1-content1{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--black-color);
  margin-top: 20px;
}
.section1-content2{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--light-black);
  margin-top: 10px;
  line-height: 30px;
}
.section1-content3{
  font-family: var(--roboto-font);
  font-weight: 700;
  font-size: 1.8rem;
  bottom: 60px;
  left: 170px;
  color: var(--white-color);
  text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.section1-padding-inline{
  padding-inline-start: 100px;
  padding-inline-end: 170px;
}
.section1-margin-top{
  margin-top: 20px;
}
.section1-info{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--black-color);
}
.section1-info1{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--light-black);
  line-height: 30px;
}
.section2-padding{
  padding-inline-start: 180px;
}
.section2-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--black-color);
  width: 49%;
}
.section2-content1{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--light-black);
  margin-top: 20px;
  line-height: 30px; 
  width: 81%;
}
.section2-content2{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--black-color);
  margin-top: 20px;
  text-align: center;
  width: 272px;
}
.section2-content3{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  width: 239px;
  color: var(--light-black);
  line-height: 30px;
  margin-top: 20px;
}
.section2-content4{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  width: 294px;
  color: var(--light-black);
  line-height: 30px;
  margin-top: 20px;
}
.slider-section2{
  max-width: 337px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: 0px 10px 30px 0px rgba(21, 69, 81, 0.1);
  margin-top: 20px;
}
.section3-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;

}
.section3-content1{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--button-text-color);
  margin-top: 20px;
}
.section3-content2{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--light-black);
  line-height: 30px;
  margin-top: 10px;
}
.section3-width{
  width: 320px;
}
.section4-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--black-color);
}
.section4-content1{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--black-color);
}
.section4-padding-inline{
  padding-inline-start: 250px;
  padding-inline-end: 80px;
}
.section5-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--white-color);
  margin-top: 100px;
}
.section5-contnet1{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--white-color);
  line-height: 30px;
  width: 900px;
  text-align: center;
  margin-top: 20px;
}
.section6-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--black-color);
}
.section6-content1{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 28px;
  color: var(--light-black);
  margin-top: 10px;
  width: 623px;
}
.section7-padding{
  padding-inline-start: 120px;
  padding-inline-end: 40px;
}
.section7-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--white-color);
}
.section7-content1{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--white-color);
  margin-top: 20px;
  line-height: 30px;
}
.slide{
  max-width: 705px;
  width: 100%;
  background-color: rgba(71, 169, 192, 0.06);
  border-radius: 20px;
  padding-block-start: 40px;
  padding-block-end: 40px;
  padding-inline-start: 40px;
}
.slider-section8{
  max-width: 215px;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 10px;
  border: 1px solid #DAEEF2;
  height: 140px;
}
.slider-section8:hover{
  box-shadow: 0px 10px 30px 0px rgba(21, 69, 81, 0.1);
}
.swiper-slide{
  height: 120px;
}
.section9-borderbox{
  max-width: 1400px;
  width: 100%;
  height: 906px;
  background-color: rgba(71, 169, 192, 0.06);
  border-radius: 20px;
}
.section9-content{
  font-family: var(--oswald-font);
  font-weight: 500;
  font-size: 3.5rem;
  color: var(--black-color);
  padding-top: 70px;
}
.section9-conten1{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 30px;
  margin-top: 20px;
}
.section9-conten2{
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 32px;
  margin-top: 15px;
}
.section9-conten3{
  margin-top: 15px;
}
.section9-conten3 a{
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--button-text-color);
}
.testimonial{
  position: relative;
  max-width: 1400px;
  width: 100%;
  overflow: hidden;
}
.testimonial1{
  position: relative;
  max-width: 1400px;
  height: 176px;
  width: 100%;
  overflow: hidden;
}
.testimonial2{
  position: relative;
  max-width: 1400px;
  width: 100%;
  overflow: hidden;
}
.testimonial3{
  position: relative;
  max-width: 1060px;
  width: 100%;
  overflow: hidden;
  height: 450px;
}
.padding-inline-section1{
  padding-inline-start: 30px;
}
.padding-left-top-banner{
  padding-left: 250px;
  /* padding-top: 200px; */
}
.padding-left-banner{
  padding-left: 50px;
}
.btn{
  padding: 14px 21px 14px 21px;
  border-radius: 10px;
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.1rem;
}
.vectorimage{
  left: 67px;
  bottom: -20px;
}
.vector-section4{
  left: 240px;
  bottom: -9px;
}
.vector2-section4{
  bottom: -9px;
  left: 290px;
  z-index: 999;
}
.vector3-section4{
  bottom: 50px;
  left: 325px;
}
.width-contact-footer{
  width: 268px;
}
.width-section2{
  /* width: 61.5%; */
}



/*  */


